
	/*font-family: font-family: 'Nunito', sans-serif;*/
	color: darkgreen;

}

h1, h2, h3 {
	margin: 0em 0;
}
h2{
font-family:font-family: 'Nunito', sans-serif;
color: ;
}

h3{
	font-family: font-family: 'Nunito', sans-serif;
	color: ;
}

em, p{
	font-family: font-family: 'Nunito', sans-serif;
}


/*links*/
a{
	text-decoration: none;
	color: darkgreen;
}

a:link,
a:visited {
	text-decoration: none;
	color: darkgrey;
}


/* Set Your Own Margin & Padding */


/* Layout for Style Tile*/
section {
	margin: 20px 0;
}


.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 100px;
	width: 100px;
}

/*color pallete*/
.color-1 {
	background:darkgreen ;
}

.color-2 {
	background: darkgrey ;

}

.color-3{
	background: white ;
}

/*tecxrures*/

.pattern-1 {
background-image: url(../img/eight_horns.png);
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */);
}

.pattern-2 {
	background-image: url(../img/upfeathers.png);

}

.pattern-3 {
	background-image: url(../img/swirl_pattern.png);

}









/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}